# Aadmin
BACKEND_DEBUG=True
BACKEND_DB_HOST='notification_db'
BACKEND_DB_PORT=5432
BACKEND_DB_USER='postgres'
BACKEND_DB_PASSWORD=1234
BACKEND_DB_NAME="notification"
BACKEND_SECRET_KEY="c=ja%^4+ecj08ko#tsh75w1%6llyl4vz-wfa1nz!w4xw4d!a&8"
BACKEND_ALLOWED_HOSTS=*

# DB
POSTGRES_DB="notification"
POSTGRES_PASSWORD=1234
POSTGRES_USER='postgres'

#API
PROJECT_NAME=Notification

RABBITMQ_HOST=rabbitmq
RABBITMQ_DEFAULT_PASS=developer
RABBITMQ_DEFAULT_USER=developer
RABBIT_EXCHANGE=notifications_exchange

RABBIT_CONSUME_QUEUE_EXCHANGE=notifications_exchange
RABBIT_CONSUME_QUEUE_EXCHANGE_TYPE=direct
RABBIT_CONSUME_QUEUE=group_chunk
RABBIT_CONSUME_QUEUE_DURABLE=True

RABBIT_SEND_EMAIL_QUEUE_EXCHANGE=notifications_exchange
RABBIT_SEND_EMAIL_QUEUE_EXCHANGE_TYPE=direct
RABBIT_SEND_EMAIL_QUEUE=send_email
RABBIT_SEND_EMAIL_QUEUE_DURABLE=True


API_USER_INFO=http://auth/user_info
# Email Settings
EMAIL_SERVER_ADDRESS=smtp.yandex.ru
EMAIL_SERVER_PORT=465
EMAIL_ACCOUNT_LOGIN=danilkamalenkii@yandex.ru
EMAIL_ACCOUNT_PASSWORD=lixdsaapjyehwepe
